{{names}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Address</title>
</head>
<body>
    <div class="row container">
           <div>
            <label>City</label>
            <input type="text" name="{{City}}" (change)="setCity($event)">
            </div>
            <div>
                 <label>State</label>
                <input type="text" name="{{State}}" (change)="setState($event)">
            </div>
            <div> <label>Pincode</label>
                <input type="text" name="{{Pincode}}" (change)="setPincode($event)">
            </div>
            <div> 
                <button type="button" value="Add" (click)="addInObject()">
                    Add
                </button>
                <button type="button" value="Show" (click)="showAllObject()">
                    Show
                </button>
            </div>
    </div>
   
    <div *ngIf="show">
        <ul>
            <li *ngFor="let obj of address">
                <span>{{obj.State}} </span>
                <span>{{obj.City}} </span>
                <span>{{obj.Pincode}} </span>
            </li>
        </ul>
    </div>
</body>
</html>